<link rel="stylesheet" href="css/style.css">
<div class="bg">
<body>
<center>
<p>
<br>
<br>
<br>
<br>
<br>
<br>
Your food will be delivered to:<br><%=address%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</center>
</body>
</div>