<header>
<center><p>Welcome To Cresong's Crust'o'rina</p></center>
</header>
<form>
<body>
<center>
<hr>
<h2 id=size>
<img src=https://via.placeholder.com/140x100>
<input type="radio" name="size" value="Small">Small
<img src=https://via.placeholder.com/140x100>
<input type="radio" name="size" value="Medium"> Medium
<img src=https://via.placeholder.com/140x100>
<input type="radio" name="size" value="Large"> Large
</h2>
<hr>
<h2 id=meat>
<img src=https://via.placeholder.com/140x100>
<input type="checkbox" name="meat[]" value="ham" checked> Ham
<img src=https://via.placeholder.com/140x100>
<input type="checkbox" name="meat[]" value="pepperoni"> Pepperoni
<img src=https://via.placeholder.com/140x100>
<input type="checkbox" name="meat[]" value="sausage"> Sausage
<h2>
</center>
</body>
</form>

