<link rel="stylesheet" href="css/style.css">

<header id="header">
<center><p>Welcome To Cresong's Crust'o'rama</p></center>
</header>


<body>
<form method = 'post' action = '/home'>
<center>

<hr>

<h2 id="imgholder1">
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
</h2>

<h2 id="size">
<input type="radio" name="size" value="Small">Small 
<input type="radio" name="size" value="Medium" checked>Medium
<input type="radio" name="size" value="Large">Large
</h2>

<hr>

<h2 id="imgholder2">
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>

</h2>
<h2 id="crust">
<input type="radio" name="crust" value="thick" checked>Thick
<input type="radio" name="crust" value="thin">Thin
<input type="radio" name="crust" value="cheesey">Chessey
</h2>


<hr>

<h2 id="imgholder3">
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>

</h2>
<h2 id="meat">
<input type="checkbox" name="meat[]" value="ham" checked>Ham
<input type="checkbox" name="meat[]" value="pepperoni">Pepperoni
<input type="checkbox" name="meat[]" value="sausage">Sausage
</h2>

<hr>

<h2 id="imgholder4">
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
</h2>

<h2 id="veggies">
<input type="checkbox" name="veggies[]" value="pineapple" checked>Pineapple
<input type="checkbox" name="veggies[]" value="peppers">Peppers
<input type="checkbox" name="veggies[]" value="mushrooms">Mushrooms
</h2>

<hr>

<h2 id="imgholder5">
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
</h2>

<h2 id="extras">
<input type="checkbox" name="extras[]" value="ham" checked>Ham
<input type="checkbox" name="extras[]" value="pepperoni">Pepperoni
<input type="checkbox" name="extras[]" value="sausage">Sausage
<input type="checkbox" name="extras[]" value="pineapple">Pineapple
<input type="checkbox" name="extras[]" value="peppers">Peppers
<input type="checkbox" name="extras[]" value="mushrooms">Mushrooms
</h2>

<hr>

<h2 id="imgholder6">
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
</h2>

<p>Delivery?</p>
<h2 id="delivery">
<input type="radio" name="delivery" value="Yes">Yes
<input type="radio" name="delivery" value="No" checked>No
</h2>

<hr>

<input type="submit" value="Submit">
</center>
</form>
</body>


