<header>
<center><p>Welcome To Cresong's Crust'o'rina</p></center>
</header>


<body>
<form>
<center>

<hr>

<h2 id=imgholder1>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
<h2>

<h2 id=size>
<input type="radio" name="size" value="Small">Small
<input type="radio" name="size" value="Medium"> Medium
<input type="radio" name="size" value="Large"> Large
</h2>

<hr>

<h2 id=imgholder2>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>
<img src=https://via.placeholder.com/140x100>

<h2>
<h2 id=meat>
<input type="checkbox" name="meat[]" value="ham" checked> Ham
<input type="checkbox" name="meat[]" value="pepperoni"> Pepperoni
<input type="checkbox" name="meat[]" value="sausage"> Sausage
<h2>

</center>
</form>
</body>


